@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.cont {
	width: 100%;
	margin: auto;
	height: 100%;
	background: white;
}

.connected {
	width: 20%;
	height: 100vh;
	background: #43484f;
	float: left;
	font-family: Roboto;
	color: white;
}

.chat-window {
	margin-left: 20%;
	background: white;
	height: 100vh;
	max-height: 100%;
}

.sendBar {
	width: 90%;
	height: 10vh;
}

#send-button {
	background-color: #275efe;
	border-radius: 24px;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 15vh;
	font-weight: bold;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

textarea {
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	resize: none;
	min-height: 8rem;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	font-family: Roboto;
	line-height: 2rem;
	font-weight: 300;
	background: #FFFFFF;
	outline: none;
	border: none;
	height: 70vh;
}

textarea::placeholder {
	min-height: 6em;
	max-height: 50vh;
	color: #9fa8da;
}

#messageBox {
	border: 2px solid #1a73e8;
	height: 2rem;
}

button {
	border-radius: 24px;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 15vh;
	font-weight: bold;
}

#signout {
	background-color: #f54b42;
}

.button-wrapper {
	padding: 10px;
	text-align: center;
}

.mainframe {
	height: 100%;
	width: 95%;
}

#messages {
	height: 90vh;
	overflow: hidden;
	overflow-y: scroll
}

ul {
	list-style: none;
}

li {
	position: relative;
}

.connectedList::before {
	vertical-align: middle;
	content: "•";
	padding-left: 5px;
	color: #32d95e;
	font-size: 40px;
}

.author {
    color: black;
	font-family: Roboto;
}

.other-author {
    float: right;
    margin: 20px;
    color: black;
	font-family: Roboto;
}

.date {
    color: grey;
    padding-left: 5px;
}

.left-message {
   padding-top:1.5em;
}

.title {
  text-align: center;
  top: 5%;
  color: white;
  font-family:Roboto;
  font-size: 20px;
  font-weight: 800;
  padding-left: 10%;
  text-align: left;
  }

.msg {
  color: #2C2D30;
  font-family:Roboto;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
  text-align: left;
  padding-bottom: 1em;
}

hr {
      border: 1px solid #d9d3e0;
      margin-left: 0px;
       width: 30%;
}